footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5%;
    border-top: 0.1rem solid white;
}

.email {
    color: rgba(255, 255, 255, .7);
    font-weight: 200;
    font-size: .8rem;
    text-align: center;
    margin: 1rem;
    margin-top: 0;
}

.imagens-footer {
    display: flex;
    margin: 2rem;
    margin-bottom: .2rem;
}

.linkedin {
    width: 2.5rem;
    transition: background-color 300ms ease-out;
}

.git {
    width: 2.5rem;
    transition: background-color 300ms ease-out;
}

@media screen and (min-width: 820px){
    footer {
        margin: 1% 5%;
    }

    .imagens-footer {
        margin: .7rem;
        margin-bottom: .2rem;
    }

    .linkedin:hover {
        width: 2.8rem;
        transition: background-color 300ms ease-out;
    }

    .git:hover {
        width: 2.8rem;
        transition: background-color 300ms ease-out;
    }

    .email {
        margin-top: 0.5rem;
    }
}