main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 10% 5%;

}

.info {
    color: rgba(255, 255, 255, 1);
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    line-height: 1.5rem;
    margin: 1.5rem;
}

.linguagens {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    margin: 1.5rem;
    margin-bottom: 2rem;
}

.img-linguagens{
    width: 6rem;
    padding: .8rem;
    margin-bottom: .35rem;
}

.titulo {
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 1.5rem;
    text-align: center;
    line-height: 1.5rem;
    margin: 2rem;
    margin-bottom: .5rem;
}

.cta-text {
    color: rgba(255, 255, 255, 1);
    font-weight: 200;
    font-size: .75rem;
    text-align: center;
    line-height: 1rem;
    margin-bottom: 2rem;
}

.cta-button {
    background: rgba(255, 255, 255, 1);
    border-radius: 6px;
    padding: .8rem;
    margin: 1rem;
    transition: background-color 300ms ease-out;
}

.button {
    color: #001c63;
    font-weight: 500;
    font-size: .75rem;
    text-align: center;
    line-height: 1rem;
}

.mold-perfil {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.perfil-img {
    width: 34.5%;
    border: .4rem solid;
    border-color: #2965ff;
    border-radius: 8px;
}

.logo-alura {
    font-family: 'Dosis', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-weight: 500;
    font-size: 2rem;
    text-align: center;
    line-height: 1.5rem;
    margin: 1.5rem;
    margin-bottom: .5rem;
}

.aviso {
    color: rgba(255, 255, 255, .6);
    font-weight: 200;
    font-size: .75rem;
    text-align: center;
    line-height: 1rem;
    margin-top: 1rem;
}

@media screen and (min-width: 820px){
    main {
        margin: 5%;
    }

    .linguagens {
        margin: 2rem;
    }

    .img-linguagens {
        margin: .5rem 1rem;
    }

    .cta-text {
        margin-bottom: 1.3rem;
    }

    .button {
        font-size: 1rem;
    }

    .cta-button:hover {
        padding: 1rem;
        transition: background-color 300ms ease-out;
    }

    .perfil-img {
        width: 18%;
    }
}